body{
    background-color: blanchedalmond;
    width: 100%;
}
header{
    border: 4px solid rgb(158, 158, 61);
    display:block;
    justify-content: center;
    align-items: center;
    width:50%;
    margin:20px 400px ;
    
}
header h1{
    align-items: center;
    text-align: center;
}
.profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px ;
    border: 4px solid rgb(158, 158, 61);
    width:90%;
    margin: 40px;
}
.profile img{
    border-radius: 20%;
    
}
.profile p{
    font-size: large;
}
.projectTitle{
    border: 4px solid rgb(158, 158, 61);
    display: flex;
    justify-content: center;
    align-items: center;
    width:50%;
    margin:20px 400px ;
}
.project{
    border: 4px solid rgb(158, 158, 61);
}
.project h3{
    border: 4px solid rgb(158, 158, 61);
    width: 30%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 520px ;
    height: 30px;


}
.project img{
    width: 80%;
    margin: 20px 130px ;
    border: 4px solid rgb(158, 158, 61);
    
    
}